[submodule "vendor/native/llama.cpp"]
	path = vendor/native/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
	branch = master
[submodule "vendor/native/ggml"]
	path = vendor/native/ggml
	url = https://github.com/ggml-org/ggml.git
